In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("realty_data.csv")
df

,product_name,period,price,postcode,address_name,lat,lon,object_type,total_square,rooms,floor,city,settlement,district,area,description,source
0,"3-комнатная, 137 м²",NaN,63000000,127473.0,"2-й Щемиловский переулок, 5а",55.778894,37.608844,Квартира,137.0,3.0,6.0,Москва,NaN,Тверской район,NaN,Просторная квартира свободной планировки с пан...,ЦИАН
1,"Студия, 16,7 м²",NaN,3250000,108815.0,"Харлампиева, 46",55.551025,37.313054,Квартира,16.7,NaN,1.0,Москва,NaN,Филимонковское поселение,NaN,ВНИМАНИЕ! ОЧЕНЬ ПРИВЛЕКАТЕЛЬНОЕ ПРЕ...,Домклик
2,"3-комнатная, 76 м²",NaN,16004680,NaN,"ЖК Прокшино, 8 к4",55.594802,37.431264,Квартира,76.0,3.0,6.0,Москва,NaN,Сосенское поселение,NaN,"Apт.1684018. 0,01% - гибкая ипотека! Воспользу...",Яндекс.Недвижимость
3,"1-комнатная, 24 м²",NaN,7841776,NaN,"ЖК Прокшино, 6 к2",55.594332,37.428099,Квартира,24.0,1.0,10.0,Москва,NaN,Сосенское поселение,NaN,Продается однокомнатная квартира № 381 в новос...,Новострой-М
4,"3-комнатная, 126 м²",NaN,120000000,121352.0,"Давыдковская, 18",55.721097,37.464342,Квартира,126.0,3.0,16.0,Москва,NaN,Фили-Давыдково район,NaN,Шикарное предложение!\nПродаётся трёхкомнатная...,Домклик
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98817,"2-комнатная, 42 м²",NaN,12183528,125212.0,"Кронштадтский бульвар, 9 к1/3",55.842935,37.487680,Квартира,42.0,2.0,8.0,Москва,NaN,Головинский район,NaN,Продаётся 2-комн.квартира площадью 42.00 кв.м ...,Яндекс.Недвижимость
98818,"2-комнатная, 63,5 м²",NaN,34925000,129090.0,"Олимпийский проспект, вл10",55.777354,37.621747,Квартира,63.5,2.0,3.0,Москва,NaN,Мещанский район,NaN,С 1 октября повышение цен на 5% на апартаменты...,ЦИАН
98819,"1-комнатная, 34,4 м²",NaN,10000000,117534.0,"Чертановская улица, 53 к1",55.602124,37.591573,Квартира,34.4,1.0,3.0,Москва,NaN,Чертаново Южное район,NaN,Продажа идеальной однокомнатной квартиры. Безу...,Домклик
98820,"3-комнатная, 56 м²",NaN,15999000,109518.0,"1-й Грайвороновский проезд, 3",55.719431,37.724875,Квартира,56.0,3.0,11.0,Москва,NaN,Текстильщики район,NaN,"Новостройка! Евротрешка , две раздельная комна...",Домклик
98821,"2-комнатная, 55,1 м²",NaN,16750000,109316.0,"Волгоградский проспект, 32/3 к6",55.721245,37.694176,Квартира,55.1,2.0,17.0,Москва,NaN,Южнопортовый район,NaN,!Двушка в бизнес-классе с шикарной планировкой...,ЦИАН

In [ ]:
print(df.columns, df.shape)

Index(['product_name', 'period', 'price', 'postcode', 'address_name', 'lat',
       'lon', 'object_type', 'total_square', 'rooms', 'floor', 'city',
       'settlement', 'district', 'area', 'description', 'source'],
      dtype='object') (98822, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98822 entries, 0 to 98821
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_name  98822 non-null  object
 1   period        0 non-null      float64
 2   price         98822 non-null  int64
 3   postcode      93675 non-null  float64
 4   address_name  98821 non-null  object
 5   lat           98822 non-null  float64
 6   lon           98822 non-null  float64
 7   object_type   98822 non-null  object
 8   total_square  98822 non-null  float64
 9   rooms         94840 non-null  float64
 10  floor         98822 non-null  float64
 11  city          91928 non-null  object
 12  settlement    6894 non-null   object
 13  district      75111 non-null  object
 14  area          19498 non-null  object
 15  description   98573 non-null  object
 16  source        98822 non-null  object
dtypes: float64(7), int64(1), object(9)
memory usage: 12.8+ MB

In [ ]:
df.isna().sum()

product_name        0
period          98822
price               0
postcode         5147
address_name        1
lat                 0
lon                 0
object_type         0
total_square        0
rooms            3982
floor               0
city             6894
settlement      91928
district        23711
area            79324
description       249
source              0
dtype: int64

In [ ]:
df.describe()

,period,price,postcode,lat,lon,total_square,rooms,floor
count,0.0,9.882200e+04,93675.000000,98822.000000,98822.000000,98822.000000,94840.000000,98822.000000
mean,NaN,2.512122e+07,124503.585119,55.742691,37.586404,66.092176,2.197427,9.905274
std,NaN,3.607234e+07,11956.742109,0.107044,0.169843,48.816204,1.038628,8.219180
min,NaN,1.900000e+06,101000.000000,55.468426,37.136489,8.000000,1.000000,1.000000
25%,NaN,1.050000e+07,115516.000000,55.673101,37.471611,40.100000,1.000000,4.000000
50%,NaN,1.516713e+07,123154.000000,55.745474,37.569365,56.400000,2.000000,8.000000
75%,NaN,2.500000e+07,140003.000000,55.817697,37.689568,75.700000,3.000000,14.000000
max,NaN,1.155219e+09,143989.000000,56.028824,38.122467,2070.000000,15.000000,66.000000

Оставим столбцы total_square, rooms, floor

In [ ]:
df_new = df[df['city'] == 'Москва'][['price', 'total_square', 'rooms', 'floor']].copy()
df_new

           price  total_square  rooms  floor
0       63000000         137.0    3.0    6.0
1        3250000          16.7    NaN    1.0
2       16004680          76.0    3.0    6.0
3        7841776          24.0    1.0   10.0
4      120000000         126.0    3.0   16.0
...          ...           ...    ...    ...
98817   12183528          42.0    2.0    8.0
98818   34925000          63.5    2.0    3.0
98819   10000000          34.4    1.0    3.0
98820   15999000          56.0    3.0   11.0
98821   16750000          55.1    2.0   17.0

[73180 rows x 4 columns]

In [ ]:
df_new = df_new.dropna()
df_new

           price  total_square  rooms  floor
0       63000000         137.0    3.0    6.0
2       16004680          76.0    3.0    6.0
3        7841776          24.0    1.0   10.0
4      120000000         126.0    3.0   16.0
9       31500000          68.3    2.0    4.0
...          ...           ...    ...    ...
98817   12183528          42.0    2.0    8.0
98818   34925000          63.5    2.0    3.0
98819   10000000          34.4    1.0    3.0
98820   15999000          56.0    3.0   11.0
98821   16750000          55.1    2.0   17.0

[70952 rows x 4 columns]

In [ ]:
df_new['rooms'] = df_new['rooms'].astype(int)
df_new['floor'] = df_new['floor'].astype(int)
df_new

C:\Users\Аскер\AppData\Local\Temp\ipykernel_19004\3234431249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['rooms'] = df_new['rooms'].astype(int)
C:\Users\Аскер\AppData\Local\Temp\ipykernel_19004\3234431249.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['floor'] = df_new['floor'].astype(int)

           price  total_square  rooms  floor
0       63000000         137.0      3      6
2       16004680          76.0      3      6
3        7841776          24.0      1     10
4      120000000         126.0      3     16
9       31500000          68.3      2      4
...          ...           ...    ...    ...
98817   12183528          42.0      2      8
98818   34925000          63.5      2      3
98819   10000000          34.4      1      3
98820   15999000          56.0      3     11
98821   16750000          55.1      2     17

[70952 rows x 4 columns]

In [ ]:
X, y = df_new.drop('price', axis=1), df_new['price'].copy()

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 70952 entries, 0 to 98821
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   total_square  70952 non-null  float64
 1   rooms         70952 non-null  int64
 2   floor         70952 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 2.2 MB

In [ ]:
X = pd.get_dummies(X, drop_first=False)
X

       total_square  rooms  floor
0             137.0      3      6
2              76.0      3      6
3              24.0      1     10
4             126.0      3     16
9              68.3      2      4
...             ...    ...    ...
98817          42.0      2      8
98818          63.5      2      3
98819          34.4      1      3
98820          56.0      3     11
98821          55.1      2     17

[70952 rows x 3 columns]

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
pipeline = Pipeline([
    ('regressor', RandomForestRegressor(random_state=42))
])

param_dist = {
    'regressor__n_estimators': np.arange(200, 2001, 100),
    'regressor__max_depth': list(np.arange(10, 101, 10)) + [None],
    'regressor__min_samples_split': [2, 5, 10],
    'regressor__min_samples_leaf': [1, 2, 4, 8 , 10],
    'regressor__max_features': ['sqrt', 'log2', None]
}

In [ ]:
rf = RandomizedSearchCV(
    pipeline,
    param_dist,
    n_iter=10,
    cv=5,
    scoring='neg_mean_squared_error', # Метрика оптимизации
    n_jobs=4,
    verbose=1,
    random_state=42
)

In [ ]:
print("Начинаем подбор параметров...")
rf.fit(X_train, y_train)
print(f"Лучшие параметры: {rf.best_params_}")

Начинаем подбор параметров...
Fitting 10 folds for each of 30 candidates, totalling 300 fits
Лучшие параметры: {'regressor__n_estimators': np.int64(1700), 'regressor__min_samples_split': 5, 'regressor__min_samples_leaf': 1, 'regressor__max_features': None, 'regressor__max_depth': np.int64(70)}

In [ ]:
# Предсказание на тесте
y_pred = rf.predict(X_test)

# Оценка качества
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse:,.2f}")
print(f"R2 Score: {r2:.4f}")

RMSE: 15,434,480.75
R2 Score: 0.8456

In [ ]:
import joblib

best_model = rf.best_estimator_
joblib.dump(best_model, 'rf_model.pkl')

print("Модель успешно сохранена")

Модель успешно сохранена

In [1]:
import joblib
model = joblib.load('rf_model.pkl')

In [ ]:
import pandas as pd
input_df = pd.DataFrame({
    "total_square": 57,
    "rooms": 2,
    "floor": 7
}, index =[0])

In [ ]:
price_predicted = model.predict(input_df)[0]
print(f'Предсказанная стоимость: {int(price_predicted):,} рублей')

Предсказанная стоимость: 20,145,918 рублей